{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

     {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %} 
 


    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td> 
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.Stock }}</td>
                {% if produit.photo is not null %}
                <td><img style="width:100px" src="{{ asset('/uploads/' ~ produit.photo) }}" alt=""></td>
                {% endif %}
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">ajouter</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                   <form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                    <button class="btn">Delete</button>
                    </form>
                     {% endif %}   
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}">Create new</a>
    {% endif %}   
{% endblock %}
