{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.Stock }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ produit.photo }}</td>
            </tr>
        
           

            
        </tbody>
    </table>
    
    {{ include('contenu_panier/_form.html.twig') }}

       {% if is_granted('ROLE_USER') %}
      <a href="{{ path('produit_show',{'id': produit.id}) }}">ajouter au panier</a>

       {% endif %}

    <a href="{{ path('produit_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>  
    {% endif %}
   
{% endblock %}
